@import '../../theme/variables';

:global {
  @import '../../theme/grommet/scss/giddy/index';
}

body {
  background-color: #fff;
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.App {
  color: #000;
}
